.header {
  padding: 10px 0;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  display: flex;
}

.container-inner {
  background-color: #fff;
  width: 80%;
}

.aside {
  background-color: #9aceff;
  width: 20%;
  height: 100vh;
}

.container-inner, .aside {
  padding: 20px 30px;
}

.aside>ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
